body {
  margin: 0;
  padding: 0;
  background-color: rgb(79, 76, 76);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 55vw;
  overflow-x: hidden;
  height: 70vh;
}

.sliders {
 
  /* width: 400%; 
  border-radius: 1em; */
}

.radio {
  visibility: hidden;
  position: absolute;
}

.slide-wrap {
  display: flex;
  width: 400%; 
  border-radius: 1em;
}

.slide {
  width: 25%;
  transition: all 0.8s ease;
  border-radius: 1em;
}

.slide img { 
  width: 100%;
  height: 55vh;
  border-radius: 1em;
}

.text-navigation-wrap {
  display: grid;
  grid-template-columns: 25vw 30vw;
}

.sliders-text {
  width: 25vw;
  height: 5vh;
  overflow-x: hidden;
  margin-top: 2em;
}

.sliders-text-wrap {
  display: flex;
  width: 400%;
}

.text {
  color: white;
  font-size: 1.5em;
  width: 25%;
  
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 1.5em;
  margin-top: 2em;
}

.main-control {
  width: 2.5em;
  height: 2.5em;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.main-control:last-child {
  margin-right: -3px;
}

.inside-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: rgb(84, 171, 233);
}

#radio1:checked ~ .slide-wrap .slide1 {
  margin-left: 0;
}

#radio2:checked ~ .slide-wrap .slide1 {
  margin-left: -25%;
}

#radio3:checked ~ .slide-wrap .slide1 {
  margin-left: -50%;
}

#radio4:checked ~ .slide-wrap .slide1 {
  margin-left: -75%;
}

#radio1:checked ~ .text-navigation-wrap .sliders-text-main-wrap .sliders-text .sliders-text-wrap .text-one {
  margin-left: 0;
}

#radio2:checked ~ .text-navigation-wrap .sliders-text-main-wrap .sliders-text .sliders-text-wrap .text-one {
  margin-left: -25%;
}

#radio3:checked ~ .text-navigation-wrap .sliders-text-main-wrap .sliders-text .sliders-text-wrap .text-one {
  margin-left: -50%;
}

#radio4:checked ~ .text-navigation-wrap .sliders-text-main-wrap .sliders-text .sliders-text-wrap .text-one {
  margin-left: -75%;
}




